// Fonts
$font-title: Arial, sans-serif;
$font-text: Arial, sans-serif;

// Base Colors
$white: #FFFFFF;
$black: #000000;
$red: #FF5555;
$grey: #353C44;
$grey-light: #6D747D;
$grey-lighter: #A3AEBA;
$grey-lightest: #EDEEEF;

// Custom Colors
$green: #009654;
$orange: #EC8304;
$yellow: #fed501;

$primary: $orange;
$secondary: $green;
$accent: $red;

// Style
$radius: 4px;
$shadow: 0 5px 15px rgba(0,0,0,.2);
$shadow-hover: 0 5px 25px rgba(0, 150, 84,.5);
$text-shadow: 2px 2px 3px rgba(0,0,0,.2);

// Other
$test: 1px solid $red;